<div class="flex justify-center items-center gap-6 w-full h-24 bg-yellow-600 mb-0">
  <div class="w-8">
    <%= link_to(image_tag('github', alt:'Profile github'), 'https://github.com/tianosouza') %>
  </div>
  <div class="w-8">
    <%= link_to(image_tag('linkedin', alt:'Profile linkedin'), 'https://www.linkedin.com/in/tianosouza/') %>
  </div>
  <div class="w-8">
    <%= link_to(image_tag('instagram', alt:'Profile instagran'), 'https://www.instagram.com/ltianosouzal/') %>
  </div>
</div>